@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Raleway;
    font-weight: 600;
}

/** Formulario */

.form {
    display: flex;
    justify-content: space-around;
    padding: 15px 0 15px 0;
    background-image: linear-gradient(to right, #5b4ee9, #5560ec, #5470ee, #587eed, #618beb, #618beb, #618beb, #618beb, #587eed, #5470ee, #5560ec, #5b4ee9);
}

fieldset {
    display: inline-block;
    padding: 8px;
    border: none;
}

label {
    display: block;
    color: black;
}

input {
    margin-top: 3px;
    padding: 5px;
    border-radius: 15px;
    border-style: none;
}

.toggle-container {
    display: inline-flex;
    align-items: center;
}

.toggle-title {
    display: inline-block !important;
}

/** Botones */
.buttons {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-image: linear-gradient(to right, #5b4ee9, #5560ec, #5470ee, #587eed, #618beb, #618beb, #618beb, #618beb, #587eed, #5470ee, #5560ec, #5b4ee9);
}

.button {
    border: none;
    cursor: pointer;
    width: 15%;
    border-radius: 20px;
    padding: 10px;
    font-size: 15px;
}

.button:active {
    background-color: rgb(160, 160, 160);
}

#bloque {
    background-color: rgb(239, 239, 239);
    border-radius: 20px;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#bloque-chbx {
    margin-right: 8px;
}

/** Contenido */
.content {
    width: 100%;
}

/** Semaforo */
.semaforo {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

#rojo {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: 5px;
}

#verde {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: 5px;
}

.rojo-activo {
    background-color: rgb(255, 0, 0);
}

.rojo-inactivo {
    background-color: rgb(30, 0, 0);
}

.verde-activo {
    background-color: rgb(0, 220, 0);
}

.verde-inactivo {
    background-color: rgb(0, 30, 0);
}

/** Tabla y diagrama */
.resultados {
    padding: 30px;
}

.diagrama {
    margin-top: 20px;
}

canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#recta-numeros {
    font-size: 12px;
    display: block;
    text-align: center;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
}

.entradas {
    display: flex;
    justify-content: space-around;
    padding: 15px 0 15px 0;
}

#table-fcfs, #table-stf, #table-rr {
    margin: 0 auto;
}

#table-resultados {
    width: 100%;
    margin-top: 30px;
}

thead {
    background-image: linear-gradient(to right, #5b4ee9, #5560ec, #5470ee, #587eed, #618beb, #618beb, #618beb, #618beb, #587eed, #5470ee, #5560ec, #5b4ee9);
    color: black;
}
  
td, th {
    border: 1px solid #DDDDDD;
    text-align: center;
    padding: 8px;
}
  
tr:nth-child(even) {
    background-color: #DDDDDD;
}


